<!DOCTYPE html>
<html ng-app="cdg" ng-controller="index">
<head>
	<title>SISGEBO</title>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.css">

	<!-- jQuery -->
	<script>window.$ = window.jQuery = require('jquery');</script>

	<!-- Bootstrap -->
	<script src="bootstrap/js/bootstrap.js"></script>

	<!-- Angular -->
	<script src="node_modules/angular/angular.min.js"></script>
	<script src="node_modules/angular-utils-pagination/dirPagination.js"></script>

	<!-- App -->
	<script src="app.js"></script>

	<!-- Controllers -->
	<script src="controllers/index.js"></script>
	<script src="controllers/inicio.js"></script>
	<script src="controllers/autenticacao.js"></script>
  <script src="controllers/inventario.js"></script>
  <script src="controllers/depreciacoes.js"></script>
  <script src="controllers/variacaoRebanho.js"></script>
  <script src="controllers/custoFixo.js"></script>
  <script src="controllers/custoVariavel.js"></script>
  <script src="controllers/custoAdm.js"></script>
  <script src="controllers/investimento.js"></script>
  <script src="controllers/custoOperacional.js"></script>
  <script src="controllers/custoOportunidade.js"></script>
  <script src="controllers/custoTotal.js"></script>
  <script src="controllers/receita.js"></script>
  <script src="controllers/balanco.js"></script>
  <script src="controllers/analise.js"></script>
  <script src="controllers/fluxoCaixa.js"></script>
  <script src="controllers/equilibrio.js"></script>
</head>
<body>
	<!-- Menu -->
	<nav class="navbar navbar-default navbar-fixed-top" style="width:250px" id="menubar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#/" style="padding:5px 15px 5px 15px">
					<img alt="SISGEBO" src="assets/logos/brand.png" class="img-rounded">
				</a>
			</div>
			<ul class="nav pager">
				<li class="" role="presentation">
					<a href="" ng-click="menu()">Menu</a>
				</li>

				<li class="" role="presentation">
					<a href="" ng-click="prev()"><span class="glyphicon glyphicon-chevron-left"></span></a>
				</li>

				<li class="" role="presentation">
					<a href="" ng-click="next()"><span class="glyphicon glyphicon-chevron-right"></span></a>
				</li>
			</ul>
		</div>
	</nav>

	<div ng-view="" class="container"></div>

  <div class="modal fade" id="menu" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
        	<h4 class="text-center">MENU</h4>
        </div>

        <div class="modal-body col-md-12">
        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/inventario')">Inventario</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/depreciacoes')">Depreciacoes</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/variacaoRebanho')">Variacao Rebanho</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/custoFixo')">Custo Fixo</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/custoVariavel')">Custo Variavel</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/custoAdm')">Despesas Administrativas</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/investimento')">Investimentos</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/custoOperacional')">Custo Operacional</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/custoOportunidade')">Custo de Oportunidade</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/custoTotal')">Custo Total</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/receita')">Receitas</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-info" ng-click="redir('/balanco')">Balanco Patrimonial</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/analise')">Analise de Resultados</button>
            </div>
        	</div>

        	<div class="col-md-3">
        		<div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/fluxoCaixa')">Fluxo de Caixa</button>
            </div>
        	</div>

          <div class="col-md-3">
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-sq-lg btn-success" ng-click="redir('/equilibrio')">Ponto de Equilibrio</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
