<div ng-controller="inicio">
	<nav class="navbar navbar-default navbar-fixed-top" style="margin-left: 250px" id="infobar">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="">Inicio</a>
			</div>
			<ul class="nav pager">
					<li class="navbar-right" role="presentation">
						<a href="" data-toggle="modal" data-target="#selectModal" ng-click="removeAtual()"><span class="glyphicon glyphicon-cog"></span></a>
					</li>
			</ul>
		</div>
	</nav>

	<div class="container" ng-init="initInicio()">
    <div class="row">
      <div class="jumbotron">
        <div class="container-fluid">
          <img src="assets/logos/logo.png" class="img-responsive center-block" />
        </div>
        <hr>
        <div class="container">
          <table class="table table-sm table-borderless">
            <thead class="thead-inverse">
              <th>Propriedade</th>
							<th>Proprietário</th>
              <th>Municipio / UF</th>
              <th>Área / Reserva</th>
            </thead>
            <tbody>
              <tr>
                <td>{{atual.nomeacao}}</td>
								<td>{{atual.proprietario}}</td>
                <td>{{atual.municipio}} / {{atual.uf}}</td>
                <td>{{atual.area}} / {{atual.reserva}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
	</div>

	<div class="modal fade" id="newModal" data-keyboard="false" data-backdrop="static" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title text-center" id="myModalLabel">Cadastro de Propriedade</h4>
				</div>
				<div class="modal-body">
					<h4 class="text-danger text-center">
						{{alerta}}
					</h4>
					<form class="basel-form">
						<div class="form-group"><input type="hidden" class="form-control" ng-model="form.id"></div>

						<div class="form-group">
              <label>Nomeação da Propriedade</label><input type="text" class="form-control" ng-model="form.nomeacao">
            </div>
						<div class="form-group">
              <label>Nome do Proprietário</label><input type="text" class="form-control" ng-model="form.proprietario">
            </div>
						<div class="form-group">
              <label>Unidade Federativa</label>  <select ng-model="form.uf" ng-options="x for (x, y) in uf"></select>
            </div>
						<div class="form-group">
              <label>Municipio</label><input type="text" class="form-control" ng-model="form.municipio">
            </div>
						<div class="form-group">
              <label>Área</label><input type="text" class="form-control" ng-model="form.area">
            </div>
            <div class="form-group">
              <label>Reserva Legal</label> <select ng-model="selectedReserva" ng-options="x for (x, y) in reserva"></select>
            </div>
					</form>
				</div>
				<div class="modal-footer">
          <div class="btn-group btn-group-justified" role="group">
            <div class="btn-group" role="group">
              <button class="btn btn-success" ng-click="new()"><span class="glyphicon glyphicon-ok"></button>
            </div>
            <div class="btn-group" role="group">
              <button id="cancelBtn" class="btn btn-default" ng-click="cancel()" data-dismiss="modal" data-toggle="modal" data-target="#selectModal"><span class="glyphicon glyphicon-remove"></button>
            </div>
          </div>
				</div>
			</div>
		</div>
	</div>

  <div class="modal fade" id="editModal" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
          <h4 class="modal-title text-center" id="myModalLabel">Edição de Propriedade</h4>
        </div>
          <div class="modal-body">
            <form class="basel-form">
							<div class="form-group"><input type="hidden" class="form-control" ng-model="form.id"></div>

							<div class="form-group">
	              <label>Nomeação da Propriedade</label><input type="text" class="form-control" ng-model="form.nomeacao">
	            </div>
							<div class="form-group">
	              <label>Nome do Proprietário</label><input type="text" class="form-control" ng-model="form.proprietario">
	            </div>
							<div class="form-group">
	              <label>Unidade Federativa</label> <select ng-model="form.uf" ng-options="x for (x, y) in uf"></select>
	            </div>
							<div class="form-group">
	              <label>Municipio</label><input type="text" class="form-control" ng-model="form.municipio">
	            </div>
							<div class="form-group">
	              <label>Area</label><input type="text" class="form-control" ng-model="form.area">
	            </div>
	            <div class="form-group">
	              <label>Reserva </label> <select ng-model="selectedReserva" ng-options="x for (x, y) in reserva"></select>
	            </div>
            </form>
          </div>
          <div class="modal-footer">
            <div class="btn-group btn-group-justified" role="group">
              <div class="btn-group" role="group">
                <button class="btn btn-success" ng-click="save()"><span class="glyphicon glyphicon-ok"></button>
              </div>
              <div class="btn-group" role="group">
                <button class="btn btn-default" ng-click="cancel()" data-dismiss="modal" data-toggle="modal" data-target="#selectModal"><span class="glyphicon glyphicon-remove"></button>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="selectModal" data-keyboard="false" data-backdrop="static" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title text-center" id="myModalLabel">Selecione uma Propriedade</h4>
        </div>
        <div class="modal-body">
          <table class="table table-striped" ng-init="getPropriedades()">
            <thead class="basel-table-head"><tr>
              <th>Nomeação</th>
              <th>Municipio / UF</th>
              <th>Área / Reserva Legal</th>
              <th></th>
            </tr></thead>
            <tbody class="basel-table-body"><tr ng-repeat="item in propriedades">
              <th>{{item.nomeacao}}</th>
              <td>{{item.municipio}} / {{item.uf}}</td>
              <td>{{item.area}} / {{item.reserva}}</td>
              <td>
                  <button class="btn btn-success btn-sq-xs" ng-click="setAtual(item)" data-dismiss="modal"><span class="glyphicon glyphicon-ok"></button>
              </td>
              <td>
                  <button class="btn btn-info btn-sq-xs" ng-click="edit(item)" data-dismiss="modal"><span class="glyphicon glyphicon-pencil"></button>
              </td>
              <td>
                  <button class="btn btn-danger btn-sq-xs" ng-click="delete(item)"><span class="glyphicon glyphicon-trash"></span></button>
              </td>
            </tr></tbody>
          </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-block" data-dismiss="modal" data-toggle="modal" data-target="#newModal">Nova Propriedade</button>
        </div>
      </div>
    </div>
  </div>
</div>
